<footer class="footer">
    <img src="./img/logo-inverted.png" alt="" class="footer__bg-overlay">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half">
                        <h3 class="footer__heading">Government</h3>
                        <ul class="footer__navlist">
                            <li><a href="">President's Office</a></li>
                            <li><a href="">Prime minister's office</a></li>
                            <li><a href="">Ministries</a></li>
                            <li><a href="">Government Agencies</a></li>
                        </ul>

                    </div>
                    <div class="column is-half">
                        <h3 class="footer__heading">Doing Business</h3>
                        <ul class="footer__navlist">
                            <li><a href="">Invest in Rwanda</a></li>
                            <li><a href="">Register your Business</a></li>
                            <li><a href="">Taxes and Benefits</a></li>
                        </ul>

                    </div>
                    <div class="column is-half">
                        <h3 class="footer__heading">Rwanda</h3>
                        <ul class="footer__navlist">
                            <li><a href="">History</a></li>
                            <li><a href="">Living in Rwanda</a></li>
                            <li><a href="">Society and Culture</a></li>
                        </ul>

                    </div>
                    <div class="column is-half">
                        <h3 class="footer__heading">Press</h3>
                        <ul class="footer__navlist">
                            <li><a href="">Press Releases</a></li>
                            <li><a href="">Government News</a></li>
                            <li><a href="">Cabinet Resolutions</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="icons-list icons-list--horizontal white">
                    <h3 class="icons-list__handle">Connect with GovRwanda</h3>
                    <span class="icons-list__icon"><i class="fab fa-facebook-f"></i></span>
                    <span class="icons-list__icon"><i class="fab fa-twitter"></i></span>
                    <span class="icons-list__icon"><i class="fab fa-instagram"></i></span>
                    <span class="icons-list__icon"><i class="fab fa-flickr"></i></span>
                </div>
            </div>

        </div>
    </div>
    </div>
</footer>
<script src="./index.js"></script>