<footer class="footer">
    <img src="./img/logo-inverted.png" alt="" class="footer__bg-overlay">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half">
                        <h3 class="footer__heading">Government</h3>
                        <ul class="footer__navlist">
                            <li><a href="http://paulkagame.rw/">President's Office</a></li>
                            <li><a href="http://primature.gov.rw/">Prime minister's office</a></li>
                            <li><a href="agencies.hbs">Government Agencies</a></li>
                            <li><a href="government.hbs">About the Government</a></li>
                        </ul>

                    </div>
                    <div class="column is-half">
                        <h3 class="footer__heading">Visit Rwanda</h3>
                        <ul class="footer__navlist">
                            <li><a href="http://rdb.rw">Invest in Rwanda</a></li>
                            <li><a href="#">Register your Business</a></li>
                            <li><a href="#">Taxes</a></li>
                        </ul>

                    </div>
                    <div class="column is-half">
                        <h3 class="footer__heading">Rwanda</h3>
                        <ul class="footer__navlist">
                            <li><a href="history.hbs">History</a></li>
                            <li><a href="geography.hbs">Geography</a></li>
                            <li><a href="genocide.hbs">Genocide</a></li>
                            <li><a href="gorillas.hbs">Mountain Gorillas</a></li>
                        </ul>

                    </div>
                    <div class="column is-half">
                        <h3 class="footer__heading">Press</h3>
                        <ul class="footer__navlist">
                            <li><a href="">Press Releases</a></li>
                            <li><a href="">Government News</a></li>
                            <li><a href="">Cabinet Resolutions</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="icons-list icons-list--horizontal white">
                    <h3 class="icons-list__handle">Connect with GovRwanda</h3>
                    <span class="icons-list__icon"><i class="fab fa-facebook-f"></i></span>
                    <span class="icons-list__icon"><i class="fab fa-twitter"></i></span>
                    <span class="icons-list__icon"><i class="fab fa-instagram"></i></span>
                    <span class="icons-list__icon"><i class="fab fa-flickr"></i></span>
                </div>
            </div>

        </div>
    </div>
    </div>
<p class="footer__beneath"><strong>Government of Rwanda</strong> &copy; 2018. All Rigts Reserved</p>
</footer>
<script src="./index.js"></script>