<nav class="in-page-nav swiper-container">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <a href="#">
        Health and Social Welfare
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="economy.hbs">
        Economic Growth and Jobs
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="#">
        Environment and natural Resources
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="#">
        Infrastructure & ICT
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="education.hbs">
        Education and Capacity Building
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="#">
        Justice & Reconciliation
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="#">
        Governance & Home-Grown Solutions
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="#">
        Security & Peacebuilding
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="#">
        International Affairs and Cooperation, Regional Integration
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="tourism.hbs">
        Tourism & Conservation
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="#">
        Youth, Sports and Culture
      </a>
    </li>
    <!-- item -->
  </ul>
  <!-- nav list -->
  <span class="in-page-nav__nav in-page-nav__prev">
    <i class="fas fa-angle-left"></i>
  </span>
  <span class="in-page-nav__nav in-page-nav__next">
    <i class="fas fa-angle-right"></i>
  </span>
</nav>