<header class="header">
    <div class="header__top">
        <img src="./img/rwanda-flag-1.png" alt="" class="header__top__img">
        <span class="header__top__caption">Official Website the Government of Rwanda</span>
    </div>
    <nav class="navigation">
        <div class="languages">
            <span>Select language: </span>
            <span class="active">EN</span>
            <span>FR</span>
            <span>KN</span>
        </div>
        <div class="site-logo">
            <a href="./index.hbs">
                <img src="./img/emblem.svg" alt="" class="site-logo__img">
            </a>
        </div><!-- site-logo -->
        <div class="menu__button">
            <span class="menu__icon">
                <i class="fas fa-bars"></i>
            </span>
        </div>
        <div class="mobile-nav">
            <div class="menu__close">
                <i class="fas fa-times icon"></i>
                <span class="handler">Close</span>
            </div>
            <ul class="menu">
                <li class="menu__item menu__item--with-submenu">
                    <a href="./government.hbs" class="menu__link">Government</a>
                    <span class="menu__link__icon"><i class="fas fa-angle-down"></i></span>

                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="#" class="menu__link">President's Office</a>
                        </li><!-- submenu item -->

                        <li class="submenu__item">
                            <a href="#" class="menu__link">Prime Minister's Office</a>
                        </li><!-- submenu item -->

                        <li class="submenu__item">
                            <a href="./agencies.hbs" class="menu__link">Government Agencies</a>
                        </li><!-- submenu item -->
                    </ul><!-- submenu-->

                </li><!-- menu__item -->

                <li class="menu__item menu__item--with-submenu">
                    <a href="#" class="menu__link">Rwanda</a>
                    <span class="menu__link__icon"><i class="fas fa-angle-down"></i></span>

                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="./history.hbs" class="menu__link">History</a>
                        </li><!-- submenu item -->

                        <li class="submenu__item">
                            <a href="./geography.hbs" class="menu__link">Geography</a>
                        </li><!-- submenu item -->

                        <li class="submenu__item">
                            <a href="./genocide.hbs" class="menu__link">Genocide</a>
                        </li><!-- submenu item -->

                        <li class="submenu__item">
                            <a href="./gorillas.hbs" class="menu__link">Mountain Gorillas</a>
                        </li><!-- submenu item -->

                    </ul><!-- submenu-->
                </li><!-- menu__item -->

                <li class="menu__item">
                    <a href="#" class="menu__link">Invest in Rwanda</a>
                </li><!-- menu__item -->

                <li class="menu__item">
                    <a href="./services.hbs" class="menu__link">Services</a>
                </li><!-- menu__item -->

                <li class="menu__item menu__item--with-submenu">
                    <a href="#" class="menu__link">Press</a>
                    <span class="menu__link__icon"><i class="fas fa-angle-down"></i></span>

                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="#" class="menu__link">Press Releases</a>
                        </li><!-- submenu item -->

                        <li class="submenu__item">
                            <a href="#" class="menu__link">Government News</a>
                        </li><!-- submenu item -->

                        <li class="submenu__item">
                            <a href="#" class="menu__link">Cabinet Resolutions</a>
                        </li><!-- submenu item -->

                    </ul><!-- submenu-->

                </li><!-- menu__item -->

            </ul><!-- menu -->

            <form action="/" class="form search-form" method="GET">
                <input type="text" name="q" class="search-form__input" placeholder="Search gov.rw...">
                <input type="submit" value="Search" class="btn btn--submit search-form__submit">

            </form>
        </div><!-- search form -->
        </div><!-- mobile nav -->
    </nav><!-- navigation -->
</header><!-- header -->