<nav class="in-page-nav">
  <ul>
    <li>
      <a href="history.hbs">
        History
      </a>
    </li>
    <!-- item -->
    <li>
      <a href="geography.hbs">
        Geography
      </a>
    </li>
    <!-- item -->
    <li>
      <a href="genocide.hbs">
        Genocide
      </a>
    </li>
    <!-- item -->
    <li>
      <a href="gorillas.hbs">
        Mountain Gorillas
      </a>
    </li>
    <!-- item -->
  </ul>
  <!-- nav list -->
</nav>