<nav class="in-page-nav swiper-container">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <a href="history.hbs">
        History
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="geography.hbs">
        Geography
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="genocide.hbs">
        Genocide
      </a>
    </li>
    <!-- item -->
    <li class="swiper-slide">
      <a href="gorillas.hbs">
        Mountain Gorillas
      </a>
    </li>
    <!-- item -->
  </ul>
  <!-- nav list -->
  <span class="in-page-nav__nav in-page-nav__prev">
    <i class="fas fa-angle-left"></i>
  </span>
  <span class="in-page-nav__nav in-page-nav__next">
    <i class="fas fa-angle-right"></i>
  </span>
</nav>