{{!< base}} <section class="section page-header m-top">
  <div class="container">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li class="active">
          <a href="#">
            Government Agencies
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- container -->
  <section class="section">
    <div class="container generic-content">
      <h3 class="content-category">
        Government
      </h3>
      <h2 class="content-main-title">
        Browse All Government Agencies
      </h2>
    </div>
  </section>
  </section>
  <section class="section is-medium">
    <div class="container">
      <h2 class="section-header">
        Government Ministries
      </h2>
      <div class="columns">
        <div class="column is-two-thirds">
          <div class="entity">
            <a href="#" class="entity__title">
              <h3>
                Ministry of Foreign Affairs
              </h3>
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
            <p class="entity__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </p>
          </div>
          <!-- entity -->
          <div class="entity">
            <a href="#" class="entity__title">
              <h3>
                Ministry of Education
              </h3>
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
            <p class="entity__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </p>
          </div>
          <!-- entity -->
          <div class="entity">
            <a href="#" class="entity__title">
              <h3>
                Ministry of Defense
              </h3>
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
            <p class="entity__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </p>
          </div>
          <!-- entity -->
          <div class="entity">
            <a href="#" class="entity__title">
              <h3>
                Ministry of Justice
              </h3>
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
            <p class="entity__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </p>
          </div>
          <!-- entity -->
          <div class="entity">
            <a href="#" class="entity__title">
              <h3>
                Ministry of Youth
              </h3>
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
            <p class="entity__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </p>
          </div>
          <!-- entity -->
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section-header">
        Government Agencies
      </h2>
    </div>
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-one-third">
          <div class="agency">
            <div class="agency__thumbnail">
              <img src="http://nigeria.embassy.gov.rw/typo3temp/_processed_/csm_irembo_103642ca64.png" alt="" />

            </div>
            <div class="agency__details">
              <h3 class="agency__title">
                Irembo
              </h3>
              <p class="agency__description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, doloribus
                cum mollitia optio deserunt nobis.
              </p>
              <a href="" class="link link--with-icon--dark">
                <span class="text">
                  Go to Website
                </span>
                <span class="icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- agency -->
        </div>
        <!-- column third -->
        <div class="column is-one-third">
          <div class="agency">
            <div class="agency__thumbnail">
              <img src="https://pbs.twimg.com/profile_images/861960549717991428/MimSHIfx_400x400.jpg" alt="" />

            </div>
            <div class="agency__details">
              <h3 class="agency__title">
                Rwanda Information Society
              </h3>
              <p class="agency__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia soluta non
                delectus sapiente deleniti vitae.
              </p>
              <a href="" class="link link--with-icon--dark">
                <span class="text">
                  Go to Website
                </span>
                <span class="icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- column thid -->
        <div class="column is-one-third">
          <div class="agency">
            <div class="agency__thumbnail">
              <img src="http://rdb.rw/demo2/wp-content/uploads/2018/01/rdb.png" alt="" />

            </div>
            <div class="agency__details">
              <h3 class="agency__title">
                Rwanda Development Board
              </h3>
              <p class="agency__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dicta illo
                debitis non aliquam repellat!
              </p>
              <a href="" class="link link--with-icon--dark">
                <span class="text">
                  Go to Website
                </span>
                <span class="icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- column third -->
      </div>
      <!-- columns agencies -->
    </div>
  </section>