---
pageCategory: Government
pageTitle: Education and Capacity Building
---
{{!< base}} {{> gov-nav }} <section class="section m-top">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="generic-content">
          <h3 class="content-category">
            {{pageCategory}}
          </h3>
          <h2 class="content-main-title">
            {{pageTitle}}
          </h2>
          <h3 class="content-section-title">
            1. Ministry of Education (MINEDUC)
          </h3>
          <p>The mission of the Ministry of Education is to transform the Rwandan citizen into skilled human capital
            for socio-economic development of the country by ensuring equitable access to quality education focusing on
            combating illiteracy, promotion of science and technology, critical thinking and positive values.

          </p>
          <a href="http://www.mineduc.gov.rw/" class="link link--with-icon link--with-icon--dark">
            <span class="text">
              Website
            </span>
            <span class="icon">
              <i class="fas fa-external-link-alt"></i>
            </span>
          </a>
          <br>
          <br>
          <br>

          <h3 class="content-section-title">
            2. High Education Council
          </h3>
          <p>To support it in transforming higher education the Government has established the Higher Education Council
            as an independent Government Agency. The Higher Education Council is responsible for ensuring the
            structure, organisation and functioning of higher education institutions and monitoring and evaluating the
            quality and standard of provision and ensuring the quality enhancement of teaching and research. It advises
            the Minister in charge of Higher Education on all matters relating to the accreditation of higher education
            institutions.

          </p>
          <a href="http://www.hec.gov.rw/" class="link link--with-icon link--with-icon--dark">
            <span class="text">
              Website
            </span>
            <span class="icon">
              <i class="fas fa-external-link-alt"></i>
            </span>
          </a>
          <br>
          <br>
          <br>

          <h3 class="content-section-title">
            3. Rwanda Education Board (REB)
          </h3>
          <p>The mission of Rwanda Education Board is to fast-track education development in Rwanda by enabling
            education sector growth. The scope of REB's work includes all aspects related to the development of the
            education sector. This involves working with and addressing the needs of schools of all sizes (Public,
            Private) and brings education on the same range as the East African Community.
          </p>
          <a href="http://www.reb.rw/" class="link link--with-icon link--with-icon--dark">
            <span class="text">
              Website
            </span>
            <span class="icon">
              <i class="fas fa-external-link-alt"></i>
            </span>
          </a>
          <br>
          <br>
          <br>

        </div>
        <!-- lead -->
      </div>
    </div>
  </div>
  </section>