---
pageCategory: Rwanda
pageTitle: Geography
---
{{!< base}}
{{> rwanda-page-nav}}
<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="generic-content">
          <h3 class="content-category">
            {{pageCategory}}
          </h3>
          <h2 class="content-main-title">
            {{pageTitle}}
          </h2>

          <p class="content-intro-paragraph">
            Rwanda is a landlocked country situated in central Africa. Also known as ’The Land of a Thousand Hills’, Rwanda has five volcanoes, 23 lakes and numerous rivers, some forming the source of the River Nile. The country lies 75 miles south of the equator in the Tropic of Capricorn, 880 miles ’as the crow flies’ west of the Indian Ocean and 1,250 miles east of the Atlantic Ocean - literally in the heart of Africa. Rwanda is bordered by Uganda to the north, Tanzania to the east, Burundi to the south and the Democratic Republic of Congo to the west.


          </p>
          <p>
            Anyone visiting ’The Land of a Thousand Hills’ is in for a multitude of surprises. The loveliness and variety of the landscapes in this ’green country’ is dominated to the north by volcanoes and bordered by Lake Kivu to the west.
          </p>
          <p>
            In Rwanda the great animals of the wild are protected from poachers and roam free in the vast national parks. The Volcanoes National Park in the Virunga volcanic mountains with its high altitude forests is world famous for mountain gorillas - timid and passive family oriented giants. The Park is teeming with wildlife both large and small, while Lake Kivu to the west offers beautiful beaches, jutting peninsulas and an archipelago of islands.
          </p>
          <h3 class="content-section-title">
              Basic facts
          </h3>
          <ul>
              <li>Population:  10,515,973 people according to the 4th General Census (2012).</li>
            <li>Land Area: 26,338 square Kilometres.</li>
            <li>Borders: Uganda to the north, Tanzania to the east, Burundi to the south and Democratic Republic of Congo to the west.</li>
            <li>The population is predominantly female; 5,451,105 are women corresponding to 51.8% of the total population.</li>
            <li>Kigali is the capital city of Rwanda. The city’s geo-coordinates are 157 S, 30 04 E. GMT is +2.</li>
            <li>Kigali City population is 1,135,428 people (2012 General Census)</li>
            <li>Rwanda has 3 official languages, Kinyarwanda, English and French.</li>
            <li>Rwanda’s political system: Republic; presidential, multiparty system.</li>
            <li>Rwanda’s National anthem is "Rwanda Nziza" (Rwanda, Our Beautiful)</li>
            <li>Rwanda’s currency is the Rwandan franc (RWF).</li>
            <li>In Rwanda, cars drive on the right hand side of the road.</li>
            <li>Rwanda’s demonym: Rwandan, Rwandese.</li>
            <li>Rainfall: Rainy seasons: March - May and October - November (Average of 110-200 mm. per month).</li>
            <li>Average Temperature: 24.6 - 27.6ºc.</li>
            <li>Hottest months: August, September.</li>
            <li>Altitude: Ranges from 1000-4500m above sea level.</li>
            <li>Main water bodies: Lake Kivu, Lake Muhazi, Lake Ihema, Lake Burera, Lake Ruhondo, and Lake Mugesera.</li>
            <li>Vegetation: ranges from dense equatorial forest in the northwest of the country to tropical savannah in the east.</li>
            <li>Akagera National Park was created in 1934. Area: 1080 square kilometers. Altitude: 1250m – 1825m. Rainfall: 750-850 mm/year.</li>
            <li>Nyungwe Forest became a National Park in 2004. It has a total area of 1019 square kilometers.</li>
            <li>Rugezi Wetlands have a total area of 6735 ha.</li>
            <li>Virunga National Park was created on October 1st, 1925. Its total area is 160 square kilometers.</li>
            <li>Rwanda is home to 40 per cent of the African continent’s mammals with 402 different species.</li>
            <li>Rwanda has a diversity of birds totaling 1,061 species.</li>
            <li>Rwanda has 293 species of reptiles and amphibians.</li>
            <li>Rwanda has 5,793 higher plant species.</li>
          </ul>

          <p>Main National Parks/Animal Reserves: Akagera National Park, Virunga Volcanoes National Parks and Nyungwe National Park.</p>
          <p></p>
        </div>
        <!-- lead -->
      </div>
    </div>
  </div>
</section>