---
pageCategory: Rwanda
pageTitle: Mountain Gorillas
---
{{!< base}} {{> rwanda-page-nav}} <section class="section m-top">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="generic-content">
          <h3 class="content-category">
            {{pageCategory}}
          </h3>
          <h2 class="content-main-title">
            {{pageTitle}}
          </h2>
          <p class="content-intro-paragraph">
            A gorilla visit can entail anything from a 1 to 4-hour trek through the forest, led by experienced trackers
            who have spent their entire lives living in or close to the forest. Your trek will be enchanting as you
            weave through overhanging vines, moss-covered Hagenia trees and giant Lobelias that thrive in the tropical
            climate. You may spot golden monkeys or see buffalo, bush duiker and a wide variety of bird life
          </p>
          <p>
            But the high point, of course, one of the greatest wildlife experiences on earth, will be spending an hour
            with the gentle giant gorillas as they go about their daily life, feeding, playing, resting, and raising
            their young. At the end of your visit you will understand what kept conservationist Dian Fossey living in
            this same forest for 18 years protecting these wonderful animals.
          </p>
        </div>
        <div class="column generic-content">
          <h3 class="content-section-title">More information</h3>
          <div class="entity">
            <a href="https://www.flickr.com/photos/kwitaizina/albums" class="entity__title">
              <h3>
                Kwita Izina Flickr Image Gallery
              </h3>
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
          </div>
          <!-- entity -->

          <div class="entity">
            <a href="https://www.youtube.com/user/kwitizina/videos" class="entity__title">
              <h3>
                Documentaries on Mountain Gorillas
              </h3>
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
          </div>
          <!-- entity -->


          <!-- entity -->
        </div>
      </div>
    </div>
  </div>
  </section>