---
pageCategory: Government
pageTitle: About the Government
---
{{!< base}}
<nav class="in-page-nav">
  <ul>
    <li>
      <a href="#">
        History
      </a>
    </li>
    <!-- item -->
    <li>
      <a href="#">
        Government Structure
      </a>
    </li>
    <!-- item -->
    <li>
      <a href="#">
        Government Agencies
      </a>
    </li>
    <!-- item -->
    <li>
      <a href="#">
        Government Activities
      </a>
    </li>
    <!-- item -->
  </ul>
  <!-- nav list -->
</nav>
<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="generic-content">
          <h3 class="content-category">
            {{pageCategory}}
          </h3>
          <h2 class="content-main-title">
            {{pageTitle}}
          </h2>
          <h3 class="content-section-title">
            Government Organization
          </h3>
          <p class="content-intro-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Minus
                            consectetur
                            quos tempore
                            mollitia inventore eos veritatis, eligendi illum! Minus ab rerum hic molestias officiis
                            perferendis
                            quo
                            maxime eum assumenda ea atque nobis, maiores totam veritatis delectus quae repudiandae,
                            labore
                            incidunt!
                            Voluptatibus totam suscipit fuga eos, magnam reprehenderit in! Voluptas laborum at tempore
                            doloremque,
                            obcaecati sed necessitatibus nam provident enim mollitia, ab aut sit quibusdam quos nulla
                            doloribus,
                            quod
                            qui fugiat libero! Veritatis ab sapiente officiis, facere iste est soluta cumque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis velit cum ullam eius
                            tempora expedita quibusdam, error in! Dicta ullam nulla ipsam non rerum vitae temporibus
                            minus
                            dolores
                            provident quam vero, molestias deleniti sint, minima optio harum ex. Placeat nemo fugiat
                            expedita
                            at
                            assumenda quasi ipsam libero, rem veritatis praesentium recusandae culpa minima beatae non
                            dolore.
                            Beatae
                            aut dolorum odit!
          </p>
        </div>
        <!-- lead -->
      </div>
    </div>
  </div>
</section>
<section class="section" id="section-2">
  <div class="container">
    <h2 class="section-header">
      What the Government is doing
    </h2>
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <div class="study-case">
          <img src="./img/hero-2.jpg" alt="" class="study-case__thumbnail" />
          <div class="study-case__description">
            <h3 class="study-case__title">
              Tourism and Conservation
            </h3>
          </div>
        </div>
        <!-- study-case -->
      </div>
      <!-- column -->
      <div class="column is-one-third">
        <div class="study-case">
          <img src="./img/education.jpg" alt="" class="study-case__thumbnail" />
          <div class="study-case__description">
            <h3 class="study-case__title">
              Education and Capacity Building
            </h3>
          </div>
        </div>
        <!-- study-case -->
      </div>
      <!-- column -->
      <div class="column is-one-third">
        <div class="study-case">
          <img src="./img/health.jpg" alt="" class="study-case__thumbnail" />
          <div class="study-case__description">
            <a href="economy.hbs">
              <h3 class="study-case__title">
                Economic Growth & Jobs
              </h3>
            </a>
          </div>
        </div>
        <!-- study-case -->
      </div>
      <!-- column -->
    </div>
  </div>
</section>