{{!< base}}
<div class="hero-slider">
  <div class="hero-slider__slide">
    <img src="./img/hero-1.jpg" alt="" class="hero-slider__slide__img" />
    <div class="hero-slider__caption">
      <h3 class="hero-slider__title">
        Welcome to Rwanda
      </h3>
      <p class="hero-slider__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil unde
                deserunt
                quam aliquid ullam cupiditate
                totam accusantium veritatis velit vero.
      </p>
      <a href="#" class="link link--with-icon link--with-icon--white">
        <span class="text">
          Learn More
        </span>
        <span class="icon white">
          <i class="fa fa-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- hero slide-->
</div>
<!-- hero-slider -->
<section class="section is-medium">
  <div class="container">
    <h2 class="section-header">
      Quick Access
    </h2>
    <div class="columns">
      <div class="column">
        <div class="card card--primary">
          <h3 class="card__title">
            Services
          </h3>
          <p class="card__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                            ipsum est magnam
                            neque
                            maiores molestias.
          </p>
          <a href="#" class="link link--with-icon link--with-icon--white">
            <span class="text">
              Browse all Services
            </span>
            <span class="icon">
              <i class="fa fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="card card--secondary">
          <h3 class="card__title">
            Government Agencies
          </h3>
          <p class="card__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                            ipsum est magnam
                            neque
                            maiores molestias.
          </p>
          <a href="" class="link link--with-icon link--with-icon--white">
            <span class="text">
              See All Agencies
            </span>
            <span class="icon">
              <i class="fa fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <!-- column -->
      <div class="column">
        <div class="card card--tertiary">
          <h3 class="card__title">
            Government News
          </h3>
          <p class="card__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                            ipsum est magnam
                            neque
                            maiores molestias.
          </p>
          <a href="#" class="link link--with-icon link--with-icon--white">
            <span class="text">
              Learn More
            </span>
            <span class="icon">
              <i class="fa fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <!-- columns -->
    </div>
  </div>
  <!-- container -->
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths">
        <h2 class="heading-primary">
          Welcome to the portal of Government of Rwanda
        </h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod pariatur voluptas consectetur
                        saepe. Cupiditate
                        voluptate distinctio itaque sint hic dolore, consequuntur necessitatibus tempora possimus
                        nesciunt neque qui
                        excepturi commodi magi.
        </p>
        <a href="#" class="link link--with-icon link--with-icon--dark">
          <span class="text">
            Learn More
          </span>
          <span class="icon">
            <i class="fa fa-arrow-right"></i>
          </span>
        </a>
      </div>
      <!-- column -->
      <div class="column is-two-fifths is-mobile">
        <div class="card card--plain">
          <h2 class="card__title">
            Most Requested Services
          </h2>
          <p>
            Lorem ipsum dolor sit amet.
          </p>
          <p>
            Lorem ipsum dolor sit amet.
          </p>
          <p>
            Lorem ipsum dolor sit amet.
          </p>
          <a href="" class="link link--with-icon link--with-icon--dark">
            <span class="text">
              More
            </span>
            <span class="icon">
              <i class="fa fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <!-- column -->
    </div>
    <!-- columns -->
  </div>
  <!-- container -->
</section>
<!-- section-->
<section class="section">
  <div class="container">
    <h2 class="section-header">
      Government News
    </h2>
    <div class="columns">
      <div class="column">
        <div class="news-card">
          <div class="news-card__thumb">
            <a href="#">
              <img
                src="https://cdn09.allafrica.com/download/pic/main/main/csiid/00200696:8ddf791360681c613bc2920ab2ba9c45:arc614x376:w614:us1.jpg"
                alt=""
               />

            </a>
          </div>
          <div class="news-card__description">
            <a href="#" class="news-card__label">
              Education
            </a>
            <!-- label -->
            <a href="#">
              <h3 class="news-card__title">
                News Headline
              </h3>
            </a>
            <!-- title -->
            <div class="news-card__meta">
              <p class="news-card__excerpt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Earum nesciunt
                                    aspernatur
                                    cumque repellat,
                                    consequuntur aperiam omnis, fuga laudantium eligendi, saepe ab! Qui maiores
                                    aspernatur magni!
              </p>
              <span class="news-card__date">
                11.02.2018
              </span>
            </div>
            <!-- meta -->
          </div>
        </div>
        <!-- news-card -->
      </div>
      <!-- column-->
    </div>
    <!-- columns -->
  </div>
  <!-- container -->
</section>
<!-- section -->