{{!< base}} <section class="section m-top">
    <div class="container">
        <h2 class="section-header">
            Government News
        </h2>
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="news-card">
                    <div class="news-card__description">
                        <a href="#" class="news-card__label">
                            President News
                        </a>
                        <!-- label -->
                        <a href="#">
                            <h3 class="news-card__title">
                                President Kagame in Germany for G20 Summit
                            </h3>
                        </a>
                        <!-- title -->
                        <div class="news-card__meta">
                            <p class="news-card__excerpt">
                                President Kagame is in Berlin, Germany to attend the ‘G20 Investment Summit – German
                                Business and the Compact with Africa (CwA) Countries’ where he will deliver remarks in
                                his double role as the incumbent Chairperson of the African Union and President of
                                Rwanda.
                            </p>
                            <span class="news-card__date">
                                30.10.2018
                            </span>
                        </div>
                        <!-- meta -->
                    </div>
                </div>
                <!-- news-card -->
                <div class="news-card">
                    <div class="news-card__description">
                        <a href="#" class="news-card__label">
                            Environment
                        </a>
                        <!-- label -->
                        <a href="#">
                            <h3 class="news-card__title">
                                Tree Planting season underway as Rwanda nearly meets forest coverage target
                            </h3>
                        </a>
                        <!-- title -->
                        <div class="news-card__meta">
                            <p class="news-card__excerpt">
                                The 2018/19 Tree Planting Season is underway countrywide as Rwanda nearly achieves its
                                target to have 30 percent of the country’s land covered with forests, with current
                                figures now standing at 29.8 percent.
                            </p>
                            <span class="news-card__date">
                                29.10.2018
                            </span>
                        </div>
                        <!-- meta -->
                    </div>
                </div>
                <!-- news-card -->
                <div class="news-card">
                    <div class="news-card__description">
                        <a href="#" class="news-card__label">
                            Environment
                        </a>
                        <!-- label -->
                        <a href="#">
                            <h3 class="news-card__title">
                                President Kagame hails acts of courage and humanity displayed by ‘Abarinzi b’Igihango’
                            </h3>
                        </a>
                        <!-- title -->
                        <div class="news-card__meta">
                            <p class="news-card__excerpt">
                                President Kagame on Friday hailed four “Abarinzi b’Igihango” for outstanding acts of
                                courage and humanity they displayed by protecting or rescuing thousands of Rwandans
                                during the 1994 Genocide against the Tutsi, as well as promoting unity and
                                reconciliation among Rwandans in its aftermath.
                            </p>
                            <span class="news-card__date">
                                27.10.2018
                            </span>
                        </div>
                        <!-- meta -->
                    </div>
                </div>
                <!-- news-card -->
            </div>
            <!-- column-->
            <div class="column is-one-third">
                <div class="cta--img">
                    <h3 class="cta__title">
                        Important Notice
                    </h3>
                    <img src="./img/challenge.jpg" alt="" />
                </div>
            </div>
        </div>
        <!-- columns -->
    </div>
    <!-- container -->
    </section>