---
pageCategory: Government
pageTitle: Tourism and Conservation
---
{{!< base}}
{{> gov-nav }}
<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="generic-content">
          <h3 class="content-category">
            {{pageCategory}}
          </h3>
          <h2 class="content-main-title">
            {{pageTitle}}
          </h2>
          <h3 class="content-section-title">
            1. Rwanda Development Board (RDB) – Tourism Department
          </h3>
          <p>Nicknamed “The land of a Thousand Hills”, Rwanda is a green undulating landscape of hills, gardens and tea plantations. It offers tourists a one of a kind journey - home to one third of the world remaining Mountain Gorillas, one third of Africa’s birds’ species, several species of primates, volcanoes, game reserve, resorts and islands on the expansive lake Kivu, graceful dancers, artistic crafts and friendly people.

        </p>
        <p>RDB’s Tourism and Conservation Department is mandated to conserve the rich biodiversity of the protected areas and to develop sustainable tourism in collaboration with stakeholders for the benefits of the Rwandan people. Rwanda aims to be the premier eco-tourism destination on the African continent.</p>
        <p>Rwanda is a thriving, safe country with one of the lowest crime rates in Africa. All major attractions are located within 1-5 hour drive from the capital, Kigali. In a short vacation, a tourist can reach volcanoes, rainforests, savannah, lakes and the beautiful city of Kigali.</p>
        <a href="http://www.rwandatourism.com/" class="link link--with-icon link--with-icon--dark">
            <span class="text">
            Rwanda Tourism
            </span>
            <span class="icon">
            <i class="fas fa-external-link-alt"></i>
            </span>
         </a>
        <br>
        <br>
        <br>

        <h3 class="content-section-title">
           2. King's Palace Museum- Urukari
          </h3>
          <p>Based in Nyanza, 88 km south of Kigali City, Urukari was the residence of King Mutara III Rudahigwa and the Royal Palace that was traditionally built. This Palace offers a detailed look into Rwandan monarchy traditional seat. It is an impressive museum and restored to its 19th century state and made entirely with traditional materials. Recently, the long horned Traditional cows, known in Kinyarwanda as "Inyambo" were also introduced because of the fact that cows form an integral part of Rwandan Culture. On the neighbouring hill of Mwima, one can also visit the burial grounds of King Mutara III and his wife Queen Rosalie Gicanda.
        </p>
        <a href="http://www.rwandatourism.com/things-to-do/cultural-experiences" class="link link--with-icon link--with-icon--dark">
            <span class="text">
            For more information on the Museum
            </span>
            <span class="icon">
            <i class="fas fa-external-link-alt"></i>
            </span>
         </a>
        <br>
        <br>
        <br>
        </div>
        <!-- lead -->
        <div class="column generic-content">
            <h3 class="content-section-title">Video Resources</h3>
            <div class="entity">
                <a href="https://www.youtube.com/watch?v=uCZ5AgG7V3k" class="entity__title">
                    <h3>
                       Remarkable Rwanda - Long Version
                    </h3>
                    <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
            </div>
            <!-- entity -->

            <div class="entity">
                <a href="https://www.youtube.com/watch?v=as9urs02jU0" class="entity__title">
                    <h3>
                        Remarkable Rwanda - Short Version
                    </h3>
                    <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                    </span>
                </a>
            </div>
            <!-- entity -->

        </div>
      </div>
    </div>
  </div>
</section>