.cta {
    background-color: $color-primary;
    width: 100%;
    text-align: center;
    padding: 5rem 0;

    &--img {
        padding-top: 1rem;
        border-top: 1px solid $color-gray--light;

        .cta__title {
            font-family: $font-text;
            color: $color-primary--darkest;
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    h2 {
        display: inline-block;
        font-family: $font-text;
        font-weight: 300;
        color: $color-white;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    a {
        display: block;
    }
}