.entity {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    // padding-bottom: 2rem;
    padding: 2rem;
    transition: background-color .3s ease;

    &:hover {
        background-color: $color-gray--light;
    }

    &__title {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $color-primary;
        transition: color .3s ease;

        h3 {
            font-family: $font-headings;
            font-size: 1.9rem;
            margin-right: 1rem;

        }

        &:hover {
            color: $color-secondary;
        }

        .icon {
            display: inline-block;

            i {
                font-size: .5rem;
            }
        }
    }

    &__description {
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $color-gray--light;
    }
}