.in-page-nav {
    padding: 1rem 2rem;
    padding-top: 0;
    background-color: $color-blue-light;
    overflow: hidden;
    position: relative;

    &__nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $color-secondary;
        cursor: pointer;
    }

    &__prev {
        left: 1rem;
    }

    &__next {
        right: 1rem;
    }

    ul {
        width: 100%;
        list-style-type: none;

        a {
            font-family: $font-text;
            font-weight: 700;
            font-size: 1rem;
            color: $color-primary;
        }
    }
}