.menu {
  list-style-type: none;
  margin-top: 1.8rem;
  margin-right: 2rem;

  @include respond(medium) {
    margin-top: 5rem;
    margin-right: 0;
    width: 100%;
  }


  &__item {
    display: inline-block;
    color: $color-primary--darkest;
    position: relative;
    transition: all .3s ease;

    @include respond(medium) {
      display: block;
      color: #fff;
      width: 100%;

      &:nth-child(odd) {
        background-color: $color-primary--darker;
      }
    }

    &:hover {
      background-color: $color-primary--darkest;
      color: #fff;
    }

    &--with-submenu {
      position: relative;

      &:hover .submenu {
        //display: block;
        visibility: visible;
        z-index: 5;
        opacity: 1;
        transform: translateY(0);
        @include easeOut(0.5s);
      }
    }

    &:not(:last-child) {
      @include respond(medium) {
        // border-bottom: .2px solid $color-gray--light;
      }
    }
  }

  &__link {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 2.7rem 2.7rem;
    text-decoration: none;
    color: inherit;
    font-family: $font-headings;
    font-weight: 700;
    font-size: 1.1rem;


    @include respond(medium) {
      padding: 2rem 2rem;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translate(0, -50%);

      i {
        font-size: 1rem;
      }
    }
  }

  &__button {
    height: 3rem;
    width: 3rem;
    background-color: $color-primary--darkest;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5rem;
    cursor: pointer;
    display: none;

    @include respond(medium) {
      display: block;
    }
  }

  &__icon {
    @include absoluteCenter;
    color: $color-white;

    i {
      font-size: 1.5rem;
    }
  }


  &__close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: $color-accent;
    display: flex;
    align-content: center;
    display: none;

    @include respond(medium) {
      display: block;
    }

    i {
      font-size: 1.5rem;
    }

    .handler {
      margin-left: 1rem;
      font-family: $font-text;
      font-size: 1.2rem;
    }
  }
}