*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.line {
  width: 80px;
  height: 4px;
  margin-bottom: 10px;
<<<<<<< HEAD
  &.line-primary {
    background: $color-primary;
  }
  &.line-secondary {
    background: $color-secondary;
  }
  &.line-primary-darkest {
    background: $color-primary--darkest;
  }
=======

  &.line-primary {
    background: $color-primary;
  }

  &.line-secondary {
    background: $color-secondary;
  }

  &.line-primary-darkest {
    background: $color-primary--darkest;
  }

>>>>>>> elie
  &.line-secondary-darkest {
    background: $color-secondary--darkest;
  }
}

.primary {
  color: $color-primary;
}
<<<<<<< HEAD
.primary-dark {
  color: $color-primary--darker;
}
.primary-darkest {
  color: $color-primary--darkest;
}
.secondary {
  color: $color-secondary;
}
.secondary-dark {
  color: $color-secondary--darker;
}
.secodary-darkest {
  color: $color-secondary--darkest;
}
=======

.primary-dark {
  color: $color-primary--darker;
}

.primary-darkest {
  color: $color-primary--darkest;
}

.secondary {
  color: $color-secondary;
}

.secondary-dark {
  color: $color-secondary--darker;
}

.secodary-darkest {
  color: $color-secondary--darkest;
}

>>>>>>> elie
.white {
  color: $color-white;
}

.grey-dark {
  color: $color-gray--dark;
}

.title {
  font-size: 35px;
}

.accent-yellow {
  color: $color-accent;
}
<<<<<<< HEAD
=======


a {
  text-decoration: none;
  color: inherit;
}
>>>>>>> elie
