*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.line {
  width: 80px;
  height: 4px;
  margin-bottom: 10px;

  &.line-primary {
    background: $color-primary;
  }

  &.line-secondary {
    background: $color-secondary;
  }

  &.line-primary-darkest {
    background: $color-primary--darkest;
  }

  &.line-secondary-darkest {
    background: $color-secondary--darkest;
  }

  &.line-accent {
    background: $color-accent;
  }
}

.primary {
  color: $color-primary;
}

.primary-dark {
  color: $color-primary--darker;
}

.primary-darkest {
  color: $color-primary--darkest;
}

.secondary {
  color: $color-secondary;
}

.secondary-dark {
  color: $color-secondary--darker;
}

.secodary-darkest {
  color: $color-secondary--darkest;
}

.white {
  color: $color-white;
}

.grey-dark {
  color: $color-gray--dark;
}

.title {
  font-size: 35px;

  .title-alt {
    font-size: 20px;
  }

  .subtitle-alt {
    font-size: 18px;
    font-weight: 400;
  }

  .accent-yellow {
    color: $color-accent;
  }
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  color: inherit;
}

.paragraph-1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.paragraph-2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}