// primary colors
$color-primary: #00A2E0;
$color-primary--darker: #016C95;
$color-primary--darkest: #004560;
//secondary colors
$color-secondary: #15613a;
$color-secondary--darker: #0E4026;
$color-secondary--darkest: #0A2E1C;
// base colors
$color-base: #1C1C1C;
$color-gray--dark: #3C3C3C;
$color-gray--light: #F2F2F2;
$color-gray: #B1B1B1;
$color-white: #ffffff;
// extra colors
$color-accent: #FBD400;
//typography
$font-headings: 'Merriweather',
serif;
$font-text: 'Source Sans Pro',
sans-serif;
$font-headings-light: 'Source Sans Pro',
sans-serif;