// primary colors
$color-primary: #00a2e0;
$color-primary--darker: #016c95;
$color-primary--darkest: #004560;
//secondary colors
$color-secondary: #15613a;
$color-secondary--darker: #0e4026;
$color-secondary--darkest: #0a2e1c;
// base colors
$color-base: #1c1c1c;
$color-gray--dark: #3c3c3c;
$color-gray--light: #f2f2f2;
$color-gray: #b1b1b1;
$color-white: #ffffff;
// extra colors
$color-accent: #fbd400;
//typography
$font-headings: "Merriweather",
serif;
$font-text: "Source Sans Pro",
sans-serif;
$font-headings-light: "Source Sans Pro",
sans-serif;