// Base
@import "2-base/variables";
@import "2-base/mixins";
@import "2-base/general";
@import "2-base/layout";
// Typography
@import "2-base/typography";
// components
@import "3-components/header.scss";
@import "3-components/navigation.scss";
@import "3-components/button.scss";
@import "3-components/link.scss";
@import "3-components/search-form.scss";
@import "3-components/card.scss";

// Hero section
#hero-slider {
  height: 70vh;
  position: relative;
  .slide-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -30;
      &.is-active {
        z-index: 30;
      }
      &:nth-of-type(1) {
        background: url(https://www.newtimes.co.rw/sites/default/files/styles/mystyle/public/main/articles/2016/07/26/1469556501kcc.jpg?itok=7JxFkDed)
          no-repeat center/cover;
      }
      &-caption {
        position: relative;
        top: 30%;
        left: 10%;
        padding: 20px;
        background: rgba($color-base, 0.5);
        width: 50%;

        h1 {
          color: $color-accent;
          font-size: 28px;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          display: inline-block;
          margin-bottom: 10px;
        }
      }
    }
  }
  .slide-controls {
    position: fixed;
    bottom: 10%;
    right: 30%;
    display: flex;
    z-index: 80;
    .control {
      margin-right: 10px;
      input[type="radio"] {
        display: none;
      }
      label {
        width: 20px;
        height: 20px;
        background: $color-white;
      }
    }
  }
}

#quick-access {
  margin: 80px 10%;
  .access-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 20px auto;
  }
  .gov-portal {
    display: flex;
    margin: 150px auto;
    .portal-main {
      flex-basis: 65%;
      margin-right: 20px;
      h1 {
        margin-bottom: 10px;
      }
    }
    aside {
      flex-basis: 35%;
      h2 {
        margin: 10px auto;
      }
    }
  }
}

#gov-news {
  margin: 20px 10%;
  .news-header {
    margin: 10px auto;
  }
  .news-container {
    position: relative;
    a.btn.btn-primary {
      position: relative;
      left: 50%;
    }
    .news-item {
      display: flex;
      margin: 20px auto;
      .news-img {
        flex-basis: 50%;
        position: relative;
        height: 100%;
        margin-right: 15px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .news-desc {
        flex-basis: 50%;
        padding: 20px;

        .title {
          display: block;
          margin: 10px auto;
        }
        .description {
          .date {
            display: inline-block;
            margin: 10px auto;
            font-weight: 500;
          }
        }
      }
    }
  }
}
