.card {
  padding: 15px;
}
.card-primary {
  background: $color-primary;
}
.card-primary-darkest {
  background: $color-primary--darkest;
}
.card-secondary {
  background: $color-secondary;
}
.card-grey {
  background: $color-gray;
}
