.card {
<<<<<<< HEAD
  padding: 15px;
}
.card-primary {
  background: $color-primary;
}
.card-primary-darkest {
  background: $color-primary--darkest;
}
.card-secondary {
  background: $color-secondary;
}
.card-grey {
  background: $color-gray;
}
=======
  padding: 3rem 4rem;


  &__title {
    font-size: 1.8rem;
    font-family: $font-headings;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: $font-text;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &--secondary {
    background-color: $color-primary--darker;
    color: $color-white;
  }

  &--tertiary {
    background-color: $color-secondary;
    color: $color-white;
  }

  &--plain {
    background-color: $color-gray--light;

    .card__title {
      color: $color-primary--darker;
    }
  }
}
>>>>>>> elie
