.header {


    &__top {
        background-color: $color-gray--light;
        padding: 1rem;

        &__img {
            width: 2rem;
        }

        &__caption {
            font-size: .2rem;
            display: inline-block;
            vertical-align: top;
            margin-top: .2rem;
            margin-left: 1rem;
        }
    }
}