.menu {
    list-style-type: none;
    margin-top: 1.8rem;

    &__item {
        display: inline-block;

        &:not(:last-child) {
            // margin-right: 3.4rem;
        }
    }

    &__link {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 3rem 3rem;
        text-decoration: none;
        color: $color-primary--darkest;
        font-family: $font-headings;
        font-weight: 700;
        font-size: 1.1rem;

        &__icon {
            display: inline-block;
            vertical-align: middle;
            margin-left: .5rem;

            i {
                font-size: 1rem;
            }
        }
    }

    &__submenu {
        list-style-type: none;
        display: none;
    }
}