.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1rem;
  position: relative;

  .search-form {
    width: 30rem;
    margin-top: 1rem;

    @include until($medium) {
      width: 99%;
      margin-left: 3rem;

      &__input {


        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-white;
      }
    }

  }

  .languages {
    position: absolute;
    top: .3rem;
    right: 6rem;

    span {
      font-size: 1.2rem;
      font-family: $font-text;
      font-weight: 400;
      color: $color-gray--dark;

      &:not(:last-child) {
        margin-right: .5rem
      }

      &.active {
        color: $color-primary;
      }
    }
  }
}