*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(medium) {
    font-size: 58%;
  }
}



body {
  -webkit-font-smoothing: antialiased;
}

.white {
  color: $color-white;
}



a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  color: inherit;
}

.text-centerd {
  text-align: center;
}