// 2 sided layout ' with sidebar '
.duo-layout {
    display: flex;

    .lead {
        flex-shrink: 1;
        flex-grow: 1;
        padding: 0 3rem;
    }

    .side {
        flex: 0 0 20%;
    }
}